server{
    listen 80;
    server_name {{ context.server_name }};

    location / {
            proxy_pass http://videoalex;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
    }
}
