server{
    listen 80;
    server_name www.baidu.com;

    location / {
            proxy_pass 192.168.0.1:1943;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
    }
}